/* Reset dei margini e del padding predefiniti */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Stile per l'intera pagina */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Stile per l'header */
header {
    background-color: #ff6b4a;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Stile per il logo-container */
.logo-container {
	display: inline-block;
    text-align: center;
    width: 50%; /* Occupa metà dello spazio disponibile */
}

/* Stile per il menu-container */
.menu-container {
	display: inline-block;
	border-radius: 20px;
    text-align: center;
    width: 50%; /* Occupa metà dello spazio disponibile */
    border-color: #fa542f;
}

/* Stile per il menu a tendina */
#dropdown-menu {
    background-color: #ff6b4a;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

/* Stile per il logo SportsHub */
.logo {
    font-size: 30px;
}

/* Stile per il contenitore principale */
.content-container {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-grow: 1; /* Permette al contenitore principale di crescere in altezza */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra il contenuto verticalmente */
}

/* Stile per la tabella del calendario */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Spazio sopra la tabella */
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

/* Stile per il footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Spinge il footer verso il basso fino alla fine della pagina */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

<<<<<<< HEAD
/* Stile per la form all'interno della classe "custom-form" */
.custom-form form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px; /* Spazio sopra la form */
}

/* Stile per il campo di input all'interno della classe "custom-form" */
.custom-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Stile per i pulsanti all'interno della classe "custom-form" */
.custom-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Stile per il pulsante "Rifiuta" all'interno della classe "custom-form" */
.custom-form button[name="rifiutaButton"] {
    background-color: #f44336;
}

/* Stile per il testo all'interno della form all'interno della classe "custom-form" */
.custom-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Stile per il testo all'interno dei pulsanti all'interno della classe "custom-form" */
.custom-form button {
    font-weight: bold;
    text-transform: uppercase;
}

/* Regole di stile per la classe "center" rimangono inalterate */


=======
.btn-logout {
    background-color: #333;
    color: white;
    border: 2px solid white;
    border-radius: 20px; /* Imposta il raggio del bordo arrotondato */
    padding: 10px 20px; /* Imposta spaziatura interna per il pulsante */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    font-size: 16px; /* Imposta la dimensione del testo */
}

/* Stile per il pulsante quando è stato cliccato o è attivo */
.btn-logout:active {
    background-color: darkgray; /* Cambia il colore al clic */
}

.btn-login {
    background-color: white;
    color: #333;
    border: 2px solid #333;
    border-radius: 20px; /* Imposta il raggio del bordo arrotondato */
    padding: 10px 20px; /* Imposta spaziatura interna per il pulsante */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    font-size: 16px; /* Imposta la dimensione del testo */
}

/* Stile per il pulsante quando è stato cliccato o è attivo */
.btn-login:active {
    background-color: darkgray; /* Cambia il colore al clic */
}
>>>>>>> branch 'main' of https://github.com/Bostre17/sportshubv3.git
