/* Reset dei margini e del padding predefiniti */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Stile per l'intera pagina */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Stile per l'header */
header {
    background-color: #ff6b4a;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Stile per il logo-container */
.logo-container {
	display: inline-block;
    text-align: center;
    width: 50%; /* Occupa metà dello spazio disponibile */
}

/* Stile per il menu-container */
.menu-container {
	display: inline-block;
    text-align: center;
    width: 50%; /* Occupa metà dello spazio disponibile */
}

/* Stile per il menu a tendina */
#dropdown-menu {
    background-color: #ff6b4a;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
}

/* Stile per il logo SportsHub */
.logo {
    font-size: 30px;
}

/* Stile per il contenitore principale */
.content-container {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-grow: 1; /* Permette al contenitore principale di crescere in altezza */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra il contenuto verticalmente */
}

/* Stile per la tabella del calendario */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Spazio sopra la tabella */
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

/* Stile per il footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Spinge il footer verso il basso fino alla fine della pagina */
}

